.skills-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, #{fade-out($black, .9)} 0%,#{fade-out($black, .5)} 75%,$black 100%), url('../img/bg-skills.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.devicon-list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.devicon-list > div {
  margin: 2rem;
  text-align: center;
}

@media (max-width: 1200px) {
  .devicon-list > div {
    width: 100px;
    margin: 1.5rem;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .devicon-list > div {
    width: 100px;
    margin: 1.5rem .5rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .devicon-list > div {
    width: 100px;
    margin: 1.5rem 1rem;
    text-align: center;
  }
}
